body {
    display: flex;
    background-color: black;
    width: 100%;
    height: 100vh;
    margin: 0px;
    justify-content: center;
}

img {
    object-fit: fill;
    min-width: 100%;
    min-height: 100px;
}

.product-card {
    margin-top: 120px;
    background-color: white;
    display: flex;
    flex-direction: row;

    width: 800px;
    height: 500px;

    max-width: 800px;
    max-height: 500px;
}

.right-info-col {
    display: flex;
    flex-direction: column;
    padding: 20px;

    width: 400px;
    height: 500px
}

.right-info-col p {
    display: block;
    padding-left: 50px;
    padding-bottom: 20px;
    font: 14px arial, sans-serif;
}

.left-img-col {
    display: flex;
    width: 400px;
    height: 500px;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.available-colors {
    display: flex;
    margin-right: 10px;
    flex-direction: row;
    font: 14px arial, sans-serif;
    padding: 20px;
    padding-left: 50px;
    gap: 20px;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.buy-btn {
    border: 2px solid #000000;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    padding: 5px;
    gap: 5px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.black-color-container {
    background: #000000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.red-color-container {
    background: #FF0000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.white-color-container {
    background: #F5F5DB;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

h3 {
    padding-bottom: 15px;
    font: 32px arial, sans-serif;
    margin: 0px;
    font-weight: bold;
}

h4 {
    font: 32px arial, sans-serif;
    margin: 0px;
    font-weight: bold;
}

h5 {
    font: 18px arial, sans-serif;
    color: lightgray;
    font-weight: bold;
    margin: 0px;
}

